/* Wrapper */
.element-callout-box {
    border: @border @border_color;
    background-color: @background;
    padding: 40px;
}


/*= 3D
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Base for shadow mixins */
.s3d-shadow {
    box-shadow: @s3d-shadow-horizontal @s3d-shadow-vertical @s3d-shadow-blur @s3d-shadow-spread @s3d-shadow-color;
}

.s3d {
    @s3d-shadow-blur: 30px;
    @s3d-shadow-spread: 4px;
    @s3d-shadow-vertical: 0px;
    @s3d-shadow-horizontal: 0px;
    @s3d-shadow-color: @border_color;

    .s3d-shadow;
    border: none;
}