/**
 * Put all of your styles for your element in here!
 * @required
 */
@user-vertical-padding: @vertical-padding * 1px;
@user-horizontal-padding: @horizontal-padding * 1px;

.callout-box-wrapper {
    padding: 20px 0px;
}

.callout-box {
    &--standard {
        .callout-base;
    }

    &--material {
        .callout-base;
        .material;
    }
}

.callout-base {
    border: @border @border_color;
    background: @background;
    padding: @user-vertical-padding @user-horizontal-padding;
}

.material {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}